h1, h2, h3{
    text-align: center;
}

body {
    background-color: #9dfff2;
    color: #002957;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 100px 10px;
    margin: 0;
}

img{
    max-width: 900px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
    border: solid 5px #002957;
}

main{
    max-width: 750px;
    width: 80%;
    margin: 0 auto;
}

footer, header {
    background-color: #002957;
    width: 100vw;
    text-align: center;
    position: fixed;
    color:#fffcdd;
    font-size: small;
}

footer{
    bottom: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: -5px;
}

header{
    top: 0;
    padding-bottom: 13px;
}

ul{
    list-style: none;
}

li{
    padding: 8px 0;
}

a{
    text-decoration-style: none;
    color:#002957;
}

footer a, header a {
    color: #9dfff2;
}

footer a:active, header a:active{
    color: #2376a0;
}

footer a:visited, header a:visited{
    color: #76ff9d;
}

header nav:last-of-type{
    font-size: smaller;
}

figcaption{
    font-style: italic;
}

#introductionTop img{
    margin: 0 auto;
    max-height: 300px;
    display: block;
    border-radius: 15px;
    border: solid 5px #002957;
}

#introductionTop figcaption{
    text-align: center;
}

#introductionTop{
    margin-bottom: 3%;
}

table{
    margin: 0 auto;
}

td{
    padding: 2px 10px 5px;
}

th{
    background-color: #002957;
    color:#fffda4;
    padding: 4px 10px;
}

tr:nth-of-type(odd){
    background-color: #fffda4;
}

tr:nth-of-type(even){
    background-color: #fffcdd;
}

/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    body{padding: 100px 10px;}
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    body{padding: 150px 10px;}
}
/* Rule Overrides For Mobile Devices */
@media screen and ( min-width: 370px ) and ( max-width: 600px ) {
    body{padding: 200px 10px;}
}

input[type="submit"], input[type="reset"]{
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
    border-width: 7px;
    border-style: solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
}

input[type="submit"]{
    background-color: #003f86;
    border-color: #0051ad;
    color: #fffcdd;
}

input[type="reset"]{
    background-color:#881414;
    border-color:#b02727;
    color: #fffcdd;
}
fieldset{
    margin: 5px;
    border: 5px #2376a0 double;
    padding: 10px;
}
fieldset p{
    margin-top: 0;
    font-size: large;
}
    
input[type="file"]{
    background-color: #003f86;
    color: #fffcdd;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    border: 5px #0051ad solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}
