html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    background-color: #ffefd6;
}
header{
    background-color: #4324b1;
    color: #DCCDF4;
    padding: 10px 15%;
}

footer p{
    font-size: small;
}

footer{
    margin-left: 30px;
}

#front-page-main{
    width: calc(100vw - 280px);
    left: 0;
}

h1{
    text-align: center;
    margin: 4px 0;
    padding: 0;
}

h2, h3{
    color: #322547;
    text-align: center;
    background-color: #e98c5d;
    border-radius: 4px;
    padding: 6px 0;
}

p{
    color: #322547;
    font-size: large;
}

h4{
    font-size: larger;
    color: #322547;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav a{
    color: #322547;
    background-color: #DCCDF4;
    padding: 2px;
    border-radius: 10%;
}

nav a:hover{
    color: #DCCDF4;
    background-color: #322547;
}

a{
    text-decoration: none;
}

img{
    max-height: 350px;
    border-radius: 10px;
    border: #4324b1 3px solid;
}

.projects-bar{
    background-color: #e98c5d;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    justify-self: right;
    width: max-content;
    min-height: calc(100% - 96px);
    position: absolute;
    top: 96px;
    right: 0;
}

.projects-bar img{
    max-width: 200px;
    border-color: #ffefd6;
    max-height: auto;
}

.projects-bar a{
    color: #322547;
}

figcaption{
    background-color: #ffefd6;
    padding: 2px;
    border-radius: 4px;
    text-align: center;
}

#homepage-summary{
    box-sizing: border-box;
    width: 50vw;
    padding: 0 20px;
    margin: 0 auto;
}

#homepage-summary img, #about-section img, .project-display img{
    border-width: 6px;
}

#homepage-summary img{
    max-width: 20vw;
}

.preview img{
    border-width: 4px;
}

.project-previews{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
    padding: 0;
}

.preview{
    width: 20%;
}

.preview img{
    width: 250px;
}

#about-section, .project-display{
    margin: 0 auto;
    max-width: 700px;
}

.project-display img, #about-section img, #homepage-summary img{
    display: block;
    margin: 0 auto;
}

.project-display img{
    height: 250px;
}

.project-images-section{
    max-width: 1200px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.project-image{
    box-sizing: border-box;
    height: 125px;
    width: auto;
    margin: 10px;
    transition-property: all;
    transition-duration: 200ms;
}

.project-image:hover{
    transition-property: all;
    transition-duration:200ms;
    height: 130px;
    box-shadow: -6px 6px #e98c5d;
}

#highlighted-image{
    margin: 0 auto;
    max-width: 800px;
    justify-content: center;
}

#highlighted-image img{
    height: 300px;
    display: block;
    margin: 0 auto;
    border-width: 8px;
    border-style: double;
    border-color: #4324b1;
}

#highlighted-image button{
    border: none;
    color: #ffefd6;
    background-color: #db4d5b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bolder;
    border-radius: 4px;
    display: block;
    margin: 10px auto;
}