html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    margin: 0;
    background-color: #ffefd6;
}
header{
    background-color: #4324b1;
    color: #DCCDF4;
    padding: 10px 15%;
}

h1{
    text-align: center;
    margin: 4px 0;
    padding: 0;
}

h2, h3{
    color: #322547;
    text-align: center;
}

h4, p{
    color: #322547;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav a{
    color: #322547;
    background-color: #DCCDF4;
    padding: 2px;
    border-radius: 10%;
}

nav a:hover{
    color: #DCCDF4;
    background-color: #322547;
}

a{
    text-decoration: none;
}

.projects-bar{
    background-color: #e98c5d;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    justify-self: right;
    width:max-content;
    height: 100vh;
    position:fixed;
    top: 0;
    right: 0;
    z-index: -1;
}

.projects-bar img{
    max-width: 200px;
}

.projects-bar a{
    color: #322547;
}

#top-of-projects-bar{
    margin-top: 85px;
}

#homepage-summary{
    padding:  8% 45% 0 20%;
    z-index: -1;
}

.project-previews{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
    padding: 0
}

.preview{
    width: 20%;
}

.preview img{
    width: 250px;
}

#about-section, .project-display{
    margin: 0 auto;
    max-width: 700px;
}

.project-display img, #about-section img, #homepage-summary img{
    display: block;
    margin: 0 auto;
}

.project-images{
    max-width: 1200px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}

.project-images img{
    box-sizing: border-box;
    width: 80%;
    height: auto;
    max-width: 200px;
    margin: 10px;
}